{
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "mount": true,
    "shallow": true,
    "render": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
