.CityTemp {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.CityTemp-title {
  font-size: 4em;
  font-weight: 400;
  margin: 10px 0;
}

.CityTemp-subtitle {
  font-size: 2em;
}
