.menu {
  width: 180px;
  padding: 1rem 1rem 1rem 2.5rem;
  transition: ease-in-out 160ms;
  background-color: color(#000 a(.4));
}

.list {
  list-style: none;
  transition: 160ms;
  padding: 0;
  margin: 0;
}

.list > li {
  height: 10vh;
  border: 1px solid color(#fff a(.2));
  background-color: color(#fff a(.02));
  align-self: center;
  padding: .5rem;
  cursor: pointer;
  opacity: .7;
  transition: .2s;

  &:not(:first-child) {
    margin-top: 1rem;
  }

  &:hover {
    border: 1px solid color(#fff a(.2));
    background-color: color(#fff a(.05));
    box-shadow: 0 0 0 2px #17306e;
  }
}

.toggle {
  border-width: 0 1px 0 0;
  border-right: 1px solid color(#fff a(.1));
  color: #fff;
  background: none;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  padding: 0;
  width: 1.5rem;
  top: 0;
  bottom: 0;
  left: 0;
  outline: none;
  transition: 200ms background-color;

  &:active {
    transition: none;
    background-color: #142a59;
  }

  > span {
    display: hidden;
  }
}

.toggleIcon {
  size: 1.3rem;
  opacity: .7;
  display: block;
  transition: 200ms;
}

.toggle:focus,
.toggle:hover {
  .toggleIcon {
    size: 1.8rem;
    margin-left: -0.3rem;
  }
}

/* States */

.menu.is-hidden {
  margin-left: calc(-180px + 1.5rem);

  .list {
    opacity: 0;
  }
  .toggle {
    border-color: transparent;
  }
}

.list li.is-active {
  border-color: #fff;
  opacity: 1;
  box-shadow: none;
}
