.Menu {
  width: 180px;
  padding: 1rem;
  transition: 120ms;
  background-color: color(#000 a(.4));

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.Menu-item {
  height: 100px;
  border: 1px solid color(#fff a(.2));
  background-color: color(#fff a(.02));
  align-self: center;
  padding: .5rem;
  cursor: pointer;
  opacity: .7;
  transition: .6s;

  &:not(:first-child) {
    margin-top: .5rem;
  }

  &:hover {
    border: 1px solid color(#fff a(.2));
    background-color: color(#fff a(.04));
  }
}

/* States */

.Menu-item.is-active {
  border-color: color(#fff a(.5));
  background-color: color(#fff a(.04));
  opacity: 1;
  margin-left: -.2rem;
  margin-right: -.2rem;
}
