.Cell {
  position: relative;
  padding: .8rem;
  opacity: .7;
  transition: .6s;

  &::before {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: .3rem;
    position: absolute;
    transition: 700ms;
    border: 1px solid color(#fff a(.2));
  }
}

.Cell-header {
  margin: -.5rem -.5rem .5rem;
  padding: .3rem .5rem;
  border-bottom: 1px solid color(#fff a(.1));
  text-transform: uppercase;
  font-size: .7em;
  font-weight: 500;
}

/* States */

.Cell.is-active {
  opacity: 1;
  transform: scale(1.01);

  &::before {
    border-color: color(#fff a(.5));
  }
}
