.cell {
  position: relative;
  opacity: .7;
  transition: .6s;
}

.header {
  padding: 0 .5rem;
  line-height: 1.5rem;
  border-bottom: 1px solid color(#fff a(.1));
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 600;
  position: absolute 0 0 null 0;
  z-index: 1;
}

.menuBtn {
  background: none;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  padding: 0;
  outline: none;
  opacity: 0;
  transition: 200ms opacity;
  margin: 0 5px;

  &:hover .menuIcon {
    opacity: .7;
  }

  &:active .menuIcon {
    opacity: 1;
  }

  > span {
    display: hidden;
  }
}

.menuIcon {
  size: 1.1rem;
  opacity: .4;
}


.container {
  position: absolute 0;
  margin: 4px;
  padding-top: calc(1.5rem + 1px);
  transition: 700ms;
  border: 1px solid color(#fff a(.2));
}

.inner {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.settings,
.content {
  transition: .2s;
  padding: .5rem;
  size: 100%;
}

.content {
}

.settings {
  background-color: #142a59;

  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
  }

  legend {
    margin: 0;
    padding: 0;
    display: block;
    font-weight: bold;
  }
}

/* States */

.cell.is-active {
  opacity: 1;

  .container {
    border-color: color(#fff a(.5));
    box-shadow: 0 0 1px 1px color(#fff a(.1));
  }

  .menuBtn {
    opacity: 1;
  }
}

.cell.is-configuring {
  .settings,
  .content {
    transform: translateY(-100%);
  }
}
