.widget {
  position: absolute 0;
  margin: 4px;
  padding-top: calc(1.5rem + 1px);
  transition: 700ms;
  opacity: .7;
  border: 1px solid color(#fff a(.2));
  overflow: hidden;
}

.header {
  padding: 0 .5rem;
  line-height: 1.5rem;
  background-color: #1d1d1d;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 600;
  position: absolute 0 0 null 0;
  z-index: 1;
}

.body {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.settings,
.body {
  transition: .2s;
  padding: .5rem;
  size: 100%;
}

.settings {
  background-color: #142a59;
  opacity: 0;
}

.menuBtn {
  background: none;
  border: 0;
  position: absolute;
  top: 3px;
  right: 0;
  color: #fff;
  padding: 0;
  outline: none;
  opacity: 0;
  transition: 200ms opacity;
  margin: 0 5px;

  &:hover .menuIcon {
    opacity: .7;
  }

  &:active .menuIcon {
    opacity: 1;
  }

  > span {
    display: hidden;
  }
}

.menuIcon {
  size: 1.1rem;
  opacity: .4;
}

.body svg {
  size: 100%;
}

/* Form */

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

legend {
  margin: 0;
  padding: 0;
  display: block;
  font-weight: bold;
}

* + .field {
  margin-top: 10px;
}

.field label {
  display: table;
  opacity: .7;
}

.field input {
  background: color(#fff a(.5));
  border: 1px solid #000;
  padding: 4px;
  width: 100%;
  font-size: 1em;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px #fff;
  }

  * + & {
    margin-top: 5px;
  }
}

/* States */

.is-configuring {
  .body {
    opacity: 0;
  }

  .settings {
    opacity: 1;
  }

  .settings,
  .body {
    transform: translateY(-100%);
  }
}

.is-active {
  border-color: color(#fff a(.5));
  box-shadow: 0 0 1px 1px color(#fff a(.1));
  opacity: 1;

  .menuBtn {
    opacity: 1;
  }
}
