* {
  box-sizing: border-box;
}

html {
  background: #222;
  color: #ddd;
  -webkit-font-smoothing: antialiased;
  font: 14px/1.3 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
}

:global .AppContainer {
  display: flex;
}

:global .Dashboards {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
